.hero {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(162, 2, 2, 0.7), rgba(23, 22, 3, 0.7)),
    url("../../assets/Hero_bg.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-text {
  text-align: center;
  width: 90%;
}
.hero-text h1 {
  font-size: 100px;
  font-weight: 600;
}
.hero-text p {
  max-width: 95%;
  margin: 10px auto 20px;
  line-height: 1.4;
  font-size: 25px;
  padding: 5px;
}
/*------media query----*/

@media (max-width: 850px) {
  .hero-text h1 {
    font-size: 70px;
  }
}
@media (max-width: 650px) {
  .hero-text h1 {
    font-size: 45px;
    max-width: 400px;
    margin: auto;
  }
  .hero-text p {
    font-size: 15px;
    margin: 15px auto 30px;
  }
}
